@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Share Tech Mono', monospace;
}

.tech-text {
  font-family: 'Share Tech Mono', monospace;
}

.font-pixel {
  font-family: 'Press Start 2P', cursive;
}

.pixel-text-sm {
  font-size: 0.8rem;
  line-height: 1.5;
}

.pixel-text-lg {
  font-size: 1.2rem;
  line-height: 1.75;
}
